# Created by .ignore support plugin (hsz.mobi)
.gradle/
.idea
*.idea
*.iml
app/app.iml
app/build/
build/
gitgteendao.iml
gradle/
gradlew
gradlew.bat
local.properties
mypowermanger/build/
mypowermanger/mypowermanger.iml
/gradle.properties
/githubgreendao.iml
/Mygreendao.iml
